<h1>Groups near you</h1>
<div class="row groups-listing">
  <ul>
    <% @groups.each do |group| %>

      <div class="col-md-4">
        <div class="card text-xs-center", style: style="background-image: url('<%= group.image %>')">
          <div class="card-block">
            <h4 class="card-title"><%= group['name'] %></h4>
            <%= link_to 'Sign up', new_user_path, :class => "btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>