<p id="notice"><%= notice %></p>

<h1>Liv's groups</h1>
<div class="row">
  <ul>
    <% @groups.each do |group| %> 
      
      <div class="col-md-4">
        <div class="card text-xs-center">
          <%= image_tag group.image %>
          <div class="card-block">
            <h4 class="card-title"><%= group['name'] %></h4>
            <%= link_to 'MatchUp to CatchUp', group, :class => "btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>