<header class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-12 text-centre">
      <div class="container">
        <h1>Sign up. Match up. Catch up.</h1>
        <p>
          Connect with members of the community before, after, and between events. Build communities though small meetings where you can get to know one another more deeply.
        </p>
        <div>
          <%= link_to("Join now!", groups_path, class: "btn btn-primary btn-lg join-in") %>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Sign up</h2>
      <p>
        Tell us a bit about yourself so we can give you the best match possible.
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h2>Match up</h2>
      <p>Let our algorithm find someone for you to connect with.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h2>Catch up</h2>
      <p>Get coffee or go for a walk with a fellow community member.</p>
    </div>
  </div>
</div>