<header class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-12 text-centre">
          <div class="jumbotron">
      <div class="container">
        <h1>Sign Up. Match Up. Catch up</h1>
        <p>Connect with insert tagline here.</p>
        <p>
          <%= link_to("Join Now!", groups_path, class: "btn btn-primary btn-lg") %>
      </div>
    </div>
    </div>

  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Sign Up</h2>
      <p>
        Register an account.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Match Up</h2>
      <p> Connect with someone from the area. </p>
    </div>
    <div class="col-md-4">
      <h2>Catch Up</h2>
      <p> Make a new friend!</p>
    </div>
  </div>
</div>